<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Website with Editable String</title>
</head>
<body>
    <h1>Website content editor (begining in Flask)</h1>
    
    <h2>current content:</h2>
    <p><strong>{{ content }}</strong></p>
    
    <hr>
    
    <form method="POST" action="/">
        <h2>edited content:</h2>
        
        <textarea name="new_content" rows="4" cols="50" required>{{ content }}</textarea>
        <br><br>
        
        <button type="submit">save and refresh content</button>
    </form>
</body>
</html>